﻿@using Infinite.LAPP.WebFront.HtmlHelpers;
@model Infinite.LAPP.WebFront.Areas.Users.Models.CreateRoleViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAfterAdminLogin.cshtml";
}

@section HeaderSection {
    @Html.HeaderSectionHtml("Add a New Role")
}

@section ActionNav {

    @Html.TaskLinkHtml("View All Roles", "/Users/RoleManager/Index", "fa fa-user ")

}
<script>
    function formsubmit() {
        if ($("#Form").valid())
            {
                $("#Form").submit();
             }
        else {
            return false
             }
        }
    $(document).ready(function () {
        var manager = $("#managerCheckBox");
        var trainee = $("#traineeCheckBox");
        var form = $("form");
        var checkBoxErrorMessage = $("#checkBoxError");
        checkBoxErrorMessage.hide();
        trainee.prop("checked", true);
        $("#saveButton").off('click');
        $("#saveButton").on('click', function () {
            if (manager.is(":checked") == false && trainee.is(":checked") == false) { checkBoxErrorMessage.show(); return false; }
            else {
                checkBoxErrorMessage.hide();
                form.valid();
            }
        });

        $("input:checkbox").on('change', function () {
            var id = $(this).attr("id");
            if (id == $(trainee).attr("id")) {
                if (trainee.is(":checked") == true) {
                    manager.prop("checked", false);
                    checkBoxErrorMessage.hide();
                }
                else {
                    checkBoxErrorMessage.show();
                }
            }
            else if (id == $(manager).attr("id")) {
                if (manager.is(":checked") == true) {
                    trainee.prop("checked", false);
                    checkBoxErrorMessage.hide();
                }
                else {
                    checkBoxErrorMessage.show();
                }
            }
            else {
                return false;
            }
        });
    });
</script>


@using (Html.BeginForm("Create", "RoleManager", FormMethod.Post, new { id = "Form" }))
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true)
    <div class="section">
        <h3>Basic Details</h3>
        <p class="sub header">How should the role be identified?</p>
        <div class="row mar-top-lg">
        <div class="col-md-5">
            <div class="admin-label">@Html.LabelFor(model => model.Name)</div>
            <div class="">
                @Html.TextBoxFor(model => model.Name, new { placeholder = Html.DisplayNameFor(model => model.Name),@class = "form-control"  })
                    </div>
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
        <div class="col-md-5">
            <div class="admin-label">
                @Html.DisplayNameFor(model => model.DisplayName)
                </div>
            <div class="">
                @Html.TextBoxFor(model => model.DisplayName, new { placeholder = Html.DisplayNameFor(model => model.DisplayName),@class = "form-control"  })
            </div>
            @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="row">
        <div class="col-md-4 mar-top-lg">
            <label>@Html.DisplayNameFor(model => model.Description)</label>
            <div class="">
                @Html.TextAreaFor(model => model.Description, new { placeholder = Html.DisplayNameFor(model => model.Description), @class = "form-control marl0" })
                </div>
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger comment-err" })
            </div>
            <div class=" col-md-6 pad-top-md">
                <div class="addemp row pad-top-md">
                    <div class="col-md-offset-3 col-md-9">
                        <label class="checkbox-inline  ">
                            @Html.CheckBoxFor(m => m.IsTrainee, new { @id = "traineeCheckBox" })
                            Trainee
                        </label>
                        <label class="checkbox-inline">
                            @Html.CheckBoxFor(m => m.IsReportingManager, new { @id = "managerCheckBox" })
                            Reporting Manager
                        </label>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <span id="checkBoxError" class="text-danger field-validation-error">Either one checkbox is required.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section">
        <h3>Set Permissions</h3>
        <p class="sub header">Which <strong>Features</strong> can this role access?</p>
        <table class="table">
            <tr>
                <th class="align-left">Set Permission </th>
                <th class="align-center"><i class="fa fa-check"></i> <label>Modify</label></th>
                <th class="align-center"><i class="fa fa-file-text-o"></i> <label>Read Only</label></th>
                <th class="align-center"><i class="fa fa-times"></i> <label>Denied</label></th>
            </tr>

            @for (var i = 0; i < Model.RolePermissionList.Count; i++)
            {
                <tr>
                    <td class="align-left">
                        @Html.DisplayFor(model => Model.RolePermissionList[i].ModuleName)
                        @Html.HiddenFor(model => Model.RolePermissionList[i].ModuleId)
                        @Html.HiddenFor(model => Model.RolePermissionList[i].ModuleName)
                    </td>
                    <td class="align-center">
                        @Html.RadioButtonFor(model => model.RolePermissionList[i].AccessRights, "ReadWrite")
                    </td>
                    <td class="align-center">
                        @Html.RadioButtonFor(model => model.RolePermissionList[i].AccessRights, "ReadOnly")
                    </td>
                    <td class="align-center">
                        @Html.RadioButtonFor(model => model.RolePermissionList[i].AccessRights, "Denied")
                    </td>
                </tr>
            }
        </table>
    </div>
    <button id="confirmButton" class="btn btn-success" type="button" value="Confirm" onclick="formsubmit()">Create</button>
    @Html.CancelButtonHtml()
    @*@Html.SaveButtonHtml("Create", "create", "Role")*@
}




