﻿@using Infinite.LAPP.WebFront.HtmlHelpers;
@using Infinite.LAPP.Domain;
@model Infinite.LAPP.WebFront.Areas.Users.Models.EditRoleViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAfterAdminLogin.cshtml";
}
@section HeaderSection {
    @Html.HeaderSectionHtml("Edit " + @Model.Name)
}
@section ActionNav {

    @Html.TaskLinkHtml("View All Roles", @Url.Action("Index", "RoleManager"), "fa fa-user")

    @*@if (Model.Name == DomainConstants.SuperUserRole)
        {
            @Html.TaskLinkHtml("Add User", "/Users/User/Create?id=" + @Model.RoleId + "&amp;role=" + @Model.Name, "fa fa-user fa-plus")
        }*@
}

<script>

    $(document).ready(function () {
        var manager = $("#managerCheckBox");
        var trainee = $("#traineeCheckBox");
        var form = $("form");
        var checkBoxErrorMessage = $("#checkBoxError");
        checkBoxErrorMessage.hide();
        $("#saveButton").off('click');
        $("#saveButton").on('click', function () {
            if (manager.is(":checked") == false && trainee.is(":checked") == false) { checkBoxErrorMessage.show(); return false; }
            else {
                checkBoxErrorMessage.hide();
                form.valid();
            }
        });

        $("input:checkbox").on('change', function () {
            var id = $(this).attr("id");
            if (id == $(trainee).attr("id")) {
                if (trainee.is(":checked") == true) {
                    manager.prop("checked", false);
                    checkBoxErrorMessage.hide();
                }
                else {
                    checkBoxErrorMessage.show();
                }
            }
            else if (id == $(manager).attr("id")) {
                if (manager.is(":checked") == true) {
                    trainee.prop("checked", false);
                    checkBoxErrorMessage.hide();
                }
                else {
                    checkBoxErrorMessage.show();
                }
            }
            else {
                return false;
            }
        });
    });
</script>

@using (Html.BeginForm("Edit"))
{
    @Html.AntiForgeryToken()
    object textBoxOption = null;
    object permissionReadonly = null;
    <div class="section">
        <h3>Basic Details</h3>
        <p class="sub header">How should the role be identified?</p>
        @if (Model.IsPreDefinedRole)
        {
            @Html.HiddenFor(model => model.Name)
            textBoxOption = new { disabled = "true", @class = "form-control" };
        }

        @if (Model.Name == DomainConstants.SuperUserRole)
        {
            @Html.HiddenFor(model => model.IsPreDefinedRole)
            permissionReadonly = new { disabled = "true" };
        }
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.RoleId)

        <div class="row">
            <div class="col-md-6 mar-top-md mar-bottom-md">
                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Name)
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.Name, textBoxOption)
                    </div>
                    @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6  mar-top-md mar-bottom-md">
                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.DisplayName)
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.DisplayName, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(x => x.DisplayName, null, new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6  mar-top-md mar-bottom-md">
                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Description)
                    </div>
                    <div class="col-md-3">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(x => x.Description, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="addemp row pad-top-md">
                    <div class="col-md-offset-3 col-md-9">
                        <label class="checkbox-inline  ">
                            @Html.CheckBoxFor(m => m.IsTrainee, new { @id = "traineeCheckBox" })
                            Trainee
                        </label>
                        <label class="checkbox-inline">
                            @Html.CheckBoxFor(m => m.IsReportingManager, new { @id = "managerCheckBox" })
                            Reporting Manager
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <span id="checkBoxError" class="text-danger field-validation-error">Either one checkbox is required.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <h3>Set Permissions</h3>
        <p class="sub header">Which <strong>Features</strong> can this role access?</p>
        <table class="table">
            <tr>
                <th class="align-left">Set Permission </th>
                <th class="align-center"><i class="fa fa-check"></i> <label>Modify</label></th>
                <th class="align-center"><i class="fa fa-file-text-o"></i> <label>Read Only</label></th>
                <th class="align-center"><i class="fa fa-times"></i> <label>Denied</label></th>
            </tr>
            @Html.HiddenFor(model => model.RolePermissionList.FirstOrDefault().AccessRights)
            @for (var i = 0; i < Model.RolePermissionList.Count; i++)
            {
                <tr>
                    <td class="align-left">
                        @Html.DisplayFor(model => Model.RolePermissionList[i].ModuleName)
                        @Html.HiddenFor(model => Model.RolePermissionList[i].ModuleId)
                        @Html.HiddenFor(model => model.RolePermissionList[i].Id)
                        @Html.HiddenFor(model => model.RolePermissionList[i].RoleId)
                        @Html.HiddenFor(model => Model.RolePermissionList[i].ModuleName)
                    </td>
                    <td class="align-center">
                        @Html.RadioButtonFor(model => model.RolePermissionList[i].AccessRights, "ReadWrite", permissionReadonly)
                    </td>
                    <td class="align-center">
                        @Html.RadioButtonFor(model => model.RolePermissionList[i].AccessRights, "ReadOnly", permissionReadonly)
                    </td>
                    <td class="align-center">
                        @Html.RadioButtonFor(model => model.RolePermissionList[i].AccessRights, "Denied", permissionReadonly)
                    </td>
                </tr>
            }
        </table>

    </div>

    @Html.CancelButtonHtml()
    @Html.SaveButtonHtml("Save", "edit", "Role")
}

