﻿@using Infinite.LAPP.WebFront.HtmlHelpers;
@model Infinite.LAPP.WebFront.Areas.Users.Models.RoleManagerViewModel
@{
    ViewBag.Title = "Role Management";
    Layout = "~/Views/Shared/_LayoutAfterAdminLogin.cshtml";
}
@section HeaderSection {

    @Html.HeaderSectionHtml("Access Roles and Users")
}

@section ActionNav {

    @if (Model.CanCreateNewRole)
    {
        @*@Html.TaskLinkHtml("Add New role", @Url.Action("Create", "RoleManager", new { area = "Users" }), "fa fa-address-card")*@
    }
}

<div class="row">
    <div class="col-md-12 mar-top-lg" data-remove-target="p:first">
        <div class="panel panel-success">
            <div class="panel-heading">Roles List</div>
            <table class="table">
                <thead>
                    <tr>
                        <th width="35%">Role Name</th>
                        <th width="35%">No of Users</th>
                        <th width="50%">Role Description</th>
                        @*<th width="20%">Edit Role</th>*@

                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model.RoleViewModelList)
                    {
                        <tr>
                            <td>
                                @if (Model.CanEditRole)
                                {
                                    @Html.ActionLink(m.RoleName, "Profile", new { id = m.RoleId })


                                }
                                else
                                {
                                    @m.RoleName;

                                }
                            </td>
                            <td>

                                @if (m.UserCount == 1)
                                {
                                    <label>@m.UserCount</label>  @Html.Label(" User")
                                }
                                else if (m.UserCount > 1)
                                {
                                    <label>@m.UserCount</label> @Html.Label(" Users")
                                }
                                else
                                {
                                    @Html.Label("No User")
                                }



                            </td>

                            <td>
                                @m.RoleDescription
                            </td>
                            @*<td>
                                <a href="/Users/RoleManager/Edit/@m.RoleId" class="btn btn-primary">
                                    <i class="fa fa-edit fa-md"></i> Edit
                                </a>
                            </td>*@

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
