﻿@using Infinite.LAPP.WebFront.HtmlHelpers;
@using Infinite.LAPP.Domain;
@model Infinite.LAPP.WebFront.Areas.Users.Models.EditRoleViewModel

@{
    ViewBag.Title = "Role Profile";
    Layout = "~/Views/Shared/_LayoutAfterAdminLogin.cshtml";
}

<script type="text/javascript">
    $( document ).ready(function() {
        $.ajax({
            url: '@Url.Action("_UserIndexView","User")',
            type: 'GET',
            cache: false,
            data: { roleId: @Model.RoleId }
        }).done(function(result) {
            $('#userDetails').html(result);
        })
    });
</script>

@section HeaderSection {
    @Html.HeaderSectionHtml(@Model.DisplayName)
}

@section ActionNav{
@if (Model.CanViewRole)
{
    @Html.TaskLinkHtml("View All Roles", @Url.Action("Index", "RoleManager"), "fa fa-user")
}
@if (Model.CanEditRole)
{
    @*@Html.TaskLinkHtml("Edit", "/Users/RoleManager/Edit/" + @Model.RoleId, "fa fa-edit")*@
}
@*@if (Model.CanCreateUser && Model.Name != DomainConstants.Employee)
{
    @Html.TaskLinkHtml("Add User", "/Users/User/Create?id=" + @Model.RoleId + "&amp;role=" + @Model.Name, "fa fa-user fa-add")
}*@
}



<div class="twelve wide column" id="userDetails">

</div>
