﻿@using Infinite.LAPP.WebFront.Areas.Users.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .login-val {
        width: 100%;
    }
 .login-val ul {
            margin-left: 0;
            padding: 3px 0 0 5px;
            list-style-type: none;
        }

    .checkbox label, .radio label {
        min-height: 20px;
        padding-left: 5px;
        margin-bottom: 0;
        font-weight: 400;
        cursor: pointer;
    }
</style>

<div class="row">
    <h2 class="align-center">Log in to LAPP</h2>
    <div class="col-md-offset-1 col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "WebAccount", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>@*Use a local account to log in.*@</h4>
                <div class="form-group marb0">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label text-left" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger login-isreqmsg" })

                    </div>
                </div>
                <div class="form-group marb0">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label text-left" })
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger login-isreqmsg" })
                        @Html.ValidationSummary(true, "", new { @class = "text-danger login-val" })
                    </div>
                </div>
               
    <div class="form-group mar-bottom-xlg">
        <div class="pull-right">
            <input type="submit" value="Log in" class="btn btn-primary btn-default" />
        </div>
    </div>

                @*<div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <p>
                                @Html.ActionLink("Register as a new user", "Register")
                            </p>
                        </div>
                    </div>*@

                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}