﻿/*custom css*/
.admin-head {
    color: #993333;
    font-size: 30px;
}

.btn-primary {
    background-color: #006699;
    /*border-radius: 0;*/
}

.shift-left {
    padding-left: 0;
}

.shift-right {
    padding-right: 0;
}

.marl0 {
    margin-left: 0 !important;
}

.marb0 {
    margin-bottom: 0;
}

.padt0 {
    padding-top: 0 !important;
}

.panel-success > .panel-heading {
    background-color: #3385ad;
    color: #fff;
    border-color: #3385ad;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: transparent !important;
}

.username {
    color: #fff;
    line-height: 35px;
    border-bottom: 1px solid #666;
    padding: 0px 0 2px 12px;
    display: block;
}

    .username b {
        padding-left: 7px;
    }

.text-danger {
    color: #a94442;
    display: inline-block;
    width: 78%;
    float: right;
}

.btn-done-error {
    color: #a94442;
}

.comment-err {
    width: auto;
    float: none;
}

.err-msg-align {
    padding-left: 24px;
    width: 80%;
}

.login-isreqmsg {
    width: 100%;
    float: none;
    padding: 3px 0 0 5px;
}

.panel-success {
    border-color: #3385ad;
}

.table .form-control {
    width: 100%;
    margin-left: 0;
}

.form-control {
    width: 200px;
    display: inline-block;
    margin-left: 4px;
}

.admin-label {
    float: left;
    font-weight: bold;
    padding-top: 6px;
    width: 80px;
}

.admin-control {
    float: left;
    /*width: 315px;*/
}

.mar-top-lg {
    margin-top: 20px;
}

.mar-bottom-md {
    margin-bottom: 15px;
}
.mar-bottom-xlg {
    margin-bottom: 25px;
}

.mar-top-md {
    margin-top: 15px;
}


.mar-left-lg {
    margin-left: 20px;
}

.mar-left-md {
    margin-left: 15px;
}

.mar-right-md {
    margin-right: 15px;
}


.mar-left-sm {
    margin-left: 10px;
}

.pad-left-sm {
    padding-left: 10px;
}

.pad-left-lg {
    padding-left: 20px;
}

.pad-top-sm {
    padding-top: 10px;
}

.pad-top-md {
    padding-top: 20px;
}

.page-header {
    border-bottom: 0px;
}


body.home_page {
    background-image: url("../Content/Images/loginbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #23282e;
    /*margin-left: 500px;
    margin-top: 150px;*/
}

/*.login-container {
    background-color: #efefef;
}*/

.jumbotron {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
}

    .jumbotron p {
        font-size: 17px;
        font-weight: normal;
        margin-bottom: 15px;
    }

.panel-primary > .panel-heading {
    background-color: #3c93ea;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #efefef;
}
/*custom css ends*/

.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #23282e;
    position: fixed;
    top: 0px;
    width: 300px;
    height: 100%;
    color: #e1ffff;
}


.main {
    margin-left: 22%;
    width: calc(100% - 22%);
    padding: 0 10px;
}

.login-page {
    margin-left: 32%;
    margin-right: 30%;
    width: 500px;
    margin-top: 11%;
    background-color: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 4px 4px 6px 0px rgba(158,158,158,0.75);
    -moz-box-shadow: 4px 4px 6px 0px rgba(158,158,158,0.75);
    box-shadow: 4px 4px 6px 0px rgba(158,158,158,0.75);
    padding:1%;
}

.nav-side-menu .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
    padding: 12px;
}

.nav-side-menu .toggle-btn {
    display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}

    .nav-side-menu ul :not(collapsed) .arrow:before,
    .nav-side-menu li :not(collapsed) .arrow:before {
        font-family: FontAwesome;
        content: "\f078";
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: middle;
        float: right;
    }

    .nav-side-menu ul .active,
    .nav-side-menu li .active {
        border-left: 3px solid #d19b3d;
        background-color: #fff;
    }

li.active:hover a {
    color: #000;
}

.nav-side-menu li:hover a {
    color: #000;
}

.menu-content li.active a {
    color: #000;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}

    .nav-side-menu ul .sub-menu li.active a,
    .nav-side-menu li .sub-menu li.active a {
        color: #d19b3d;
    }

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
}

    .nav-side-menu ul .sub-menu li:hover,
    .nav-side-menu li .sub-menu li:hover {
        background-color: #020203;
    }

    .nav-side-menu ul .sub-menu li:before,
    .nav-side-menu li .sub-menu li:before {
        font-family: FontAwesome;
        content: "\f105";
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: middle;
    }

.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #666;
}

    .nav-side-menu li a {
        text-decoration: none;
        color: #fff;
    }

        .nav-side-menu li a i {
            padding-left: 10px;
            width: 20px;
            padding-right: 20px;
        }

    .nav-side-menu li:hover {
        border-left: 3px solid #d19b3d;
        background-color: #fff;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }

@media (max-width: 1329px) {

    /*Allow main to be next to Nav*/
    .main;

{
    margin-left: 305px;
    width: calc(100% - 305px);
}

}



@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }

    .main {
        margin-left: 0;
        width: 100%;
    }

    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }

    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}

@media (min-width: 1920px) {
    /*.main {
        margin-left: 16%;
        width: calc(100% - 16%);
    }*/
}

footer {
    position: fixed;
    height: 20px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
    margin-left: 28%;
}

.action-nav {
    background-color: rgba(62,68,70,0.05);
    padding: 14px;
    width: 100%;
    height: 62px;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.hide-content {
    display: none;
}

.btn-danger {
    width: 94px;
    margin: 0px 5px 0px 5px;
}

.btn-success {
    width: 94px;
    margin: 0px 5px 0px 0px;
}

.table-header {
    background-color: #3385ad;
    color: #fff;
    border-color: #3385ad;
}

.page_actions {
    margin: 20px 15px 0px 0px;
}

section {
    padding-left: 15px;
}

.loader-wrap {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(135,135,135,0.6);
    z-index: 9;
}

.loader {
    width: 65px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
}

    .loader img {
        width: 100%;
        height: auto;
    }


.messagepop {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    cursor: default;
    display: none;
    margin-top: 15px;
    position: absolute;
    text-align: left;
    z-index: 50;
    padding: 25px 25px 20px;
}

    .messagepop p, .messagepop.div {
        border-bottom: 1px solid #EFEFEF;
        margin: 8px 0;
        padding-bottom: 8px;
    }
.text-left{text-align:left !important;}