﻿@model List<Infinite.LAPP.WebFront.Areas.Settings.Models.HolidaysViewModel>


<div class="panel panel-success">
    <div class="panel-heading">Holiday List</div>
    <table class="table">
        <thead>
            <tr>
                <th class="align-left">Title</th>
                <th class="align-left">Description</th>
                <th class="align-left">Location</th>
                <th class="align-left">Date</th>
                <th class="align-left">Edit</th>
                <th class="align-left">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    @Html.HiddenFor(model => item.ID)
                    <td class="align-left">
                        @Html.DisplayFor(model => item.Title)
                    </td>
                    <td class="align-left">
                        @Html.DisplayFor(model => item.Desciption)
                    </td>
                    <td class="align-left">
                        @Html.DisplayFor(model => item.Location)
                    </td>
                    <td class="align-left">
                        @Html.DisplayFor(model => item.Date)
                    </td>
                    <td align="left">
                        <a href="~/Settings/Holidays/EditHoliday?Id=@item.ID" class="">
                            <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td align="left">
                        <a href="#" class="delete" onclick="DeleteLeavePopUp(@item.ID)">
                            <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




