﻿@model Infinite.LAPP.WebFront.Areas.Settings.Models.HolidaysViewModel
@using Infinite.LAPP.WebFront.HtmlHelpers;

@{
    ViewBag.Title = "EditHoliday";
    Layout = "~/Views/Shared/_LayoutAfterAdminLogin.cshtml";
}

<script>
    $(document).ready(function () {
        $('.action-nav').remove();
        var date= new Date(@Model.Date.Year,@Model.Date.Month-1,@Model.Date.Day);
        customDatetimePicker({ id: "hDate",minDate: 0,value:date });
    });

    function cancel() {
        window.history.back();
    }
</script>
@section HeaderSection {

    @Html.HeaderSectionHtml("Edit Holiday")
}
@using (@Html.BeginForm("UpdateHoliday", "Holidays", FormMethod.Post))
{
    @Html.HiddenFor(model => model.ID)
    <div class="row mar-top-lg">
        <div class="col-md-4">
            <div class="admin-label">@Html.DisplayNameFor(model => model.Title)</div>
            <div class="">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
            </div>

            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger err-msg-align" })
        </div>
        <div class="col-md-4">
            <div class="admin-label">
                @Html.DisplayNameFor(model => model.Date)
            </div>
            <div class="">
                @Html.EditorFor(model => Model.Date, new { htmlAttributes = new { @class = " form-control", @id = "hDate", @readonly = "readonly", placeholder = "Date", required = "required" } })
            </div>
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger err-msg-align" })
        </div>

    </div>
    <div class="row mar-top-lg">
        <div class="col-md-4">
            <div class="admin-label">
                @Html.DisplayNameFor(model => model.Location)
            </div>
            <div class="">
                @Html.EnumDropDownListFor(model => model.Location, "Please Select", new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger err-msg-align" })
        </div>


    </div>
    <div class="row">
        <div class="col-md-4 mar-top-lg">
            <label>@Html.DisplayNameFor(model => model.Desciption)</label>
            <div class="">
                @Html.TextAreaFor(model => model.Desciption, new { @class = "form-control marl0" })
            </div>
            @Html.ValidationMessageFor(model => model.Desciption, "", new { @class = "text-danger comment-err" })
        </div>
    </div>
    <div class="pull-left mar-top-lg">
        <button type="submit" class="btn btn-success" value="Update">Update</button>
        @*<button class="btn btn-primary mar-left-lg" type="reset" value="Reset">Reset</button>*@
        <button class="btn btn-primary" value="Cancel" onclick="cancel()">Cancel</button>
    </div>
}
