﻿@model Infinite.LAPP.WebFront.Areas.Settings.Models.HolidaysViewModel
@using Infinite.LAPP.WebFront.HtmlHelpers;
@{
    ViewBag.Title = "Holiday List";
    Layout = "~/Views/Shared/_LayoutAfterAdminLogin.cshtml";
}

@section HeaderSection {

    @Html.HeaderSectionHtml("Holiday List")
}
@section ActionNav {
    @if (Model.Claim.CanAddHoliday)
    {
        @Html.TaskLinkHtml("Add Holiday", Url.Action("AddHolidays", "Holidays"), "fa fa-calendar-o")
    }
}

<form id="form">
    <div class="row mar-top-lg">
        <div class="col-md-4">
            <div class="addemp">
                <div class="admin-label">
                    @Html.DisplayNameFor(model => model.Location):
                </div>
                <div class="admin-control">
                    @Html.EnumDropDownListFor(model => model.Location, "Please Select", new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger err-msg-align" })
            </div>
        </div>
        <div class="col-md-4 shift-left shift-right">
            <div class="admin-label">
                Year:
            </div>
            <select id="date" class="form-control"></select>

        </div>
        <div class="col-md-2 shift-left"><p><input class="btn btn-primary" type="button" value="Search" onclick="getview()" /></p></div>
    </div>
    @*<div class="row">
            <div class="col-md-12 mar-top-lg" data-remove-target="p:first">
                <div id="PartialView">
                </div>
            </div>
        </div>*@
    <div class="row">
        <div class="col-md-12 mar-top-lg" data-remove-target="p:first">
            <table id="DataGrid"></table>
            <div id="divPager" style="height: auto !important;"></div>
        </div>
    </div>
    <div id="ConfirmPopUp" class="messagepop"></div>
</form>

<script>
    var max = new Date().getFullYear(),
    min = max - 9,
    select = document.getElementById('date');

    for (var i = max; i >= min; i--) {
        var opt = document.createElement('option');
        opt.value = i;
        opt.innerHTML = i;
        select.appendChild(opt);
    }


    function getview() {
        if ($("#Location").valid()) {
            $('.loader-wrap').show();
            var data = 'locationId=' + document.getElementById('Location').value + '&year=' + document.getElementById('date').value;
            $.ajax({
                url: '/Settings/Holidays/SearchHolidayList',
                dataType: 'html',
                data: data,
                success: function (result) {
                    popdata(result);
                    $("#DataGrid").show();
                    $('.loader-wrap').hide();
                }
            });
        }
    };

    $("#Location").change(function () {
        $("#DataGrid").hide();
    });

    function popdata(result) {
        $('#DataGrid').jqGrid('GridUnload');
        var Data = $.parseJSON(result);

        $("#DataGrid").jqGrid({
            caption: 'Holiday List',
            datatype: "local",
            data: Data,
            rowNum: 10,
            gridview: true,
            hidegrid: false,
            pager: '#divPager',
            sortname: 'Date',
            sortorder: "asc",
            autowidth: true,
            autoencode: true,
            height: 'auto',
            shrinkToFit: false,
            forceFit: true,
            ignoreCase: true,
            sortable: false,
            colModel: [
                    { label: 'Id', name: 'ID', hidden: true },
                    { label: 'Title', name: 'Title', align: "left", search: true, width: 372 },
                    { label: 'Desciption', name: 'Desciption', align: "left", search: true, width: 500 },
                    { label: 'Date', name: 'Date', align: "left", formatter: 'date', formatoptions: { newformat: "d/m/Y" }, search: false, },
            ],
            viewrecords: true, // show the current page, data range and total records on the toolbar
            emptyrecords: 'No records found'
        });
        $('#DataGrid').jqGrid('filterToolbar', { defaultSearch: 'cn' }); // Set Searching
    }

    editLinkFormatter = function (cellValue, options, rowObject) {
        var ID = rowObject.ID;
        return '<a href="EditHoliday?Id=' + ID + '" class="fa fa-pencil fa-lg" ></a>';

    }

    deleteLinkFormatter = function (cellValue, options, rowObject) {
        var ID = rowObject.ID;
        //return '<a href="DeleteHoliday?Id=' + ID + '" class="fa fa-times fa-lg" ></a>';
        return '<a href="#" class="fa fa-times fa-lg" title="Delete Holiday" onclick="DeleteLeavePopUp(' + ID + ')" ></a>';
    }


    function DeleteLeavePopUp(HolidayId) {
        $("#ConfirmPopUp").dialog({
            autoOpen: true,
            resizable: false,
            title: 'Delete Holiday',
            modal: true,
            open: function () {
                $(this).text("Are you sure you want to delete this Holiday?");
            },
            buttons: {
                "Confirm": {
                    click: function () {
                        confirmDeleteHoliday(HolidayId);
                    },
                    class: "btn btn-success",
                    text: "Confirm"
                },
                Cancel: {
                    click: function () {
                        $(this).dialog("close");
                    },
                    class: "btn btn-danger",
                    text: "Cancel"
                }
            }
        });
        return false;
    }

    function confirmDeleteHoliday(HolidayId) {
        $.ajax({
            url: '@Url.Action("DeleteHoliday", "Holidays")',
            type: 'POST',
            data: { Id: HolidayId },
            success: function (data) {
                if (data) {
                    window.location.reload();
                }
            }
        });
    }
</script>

