﻿@using Infinite.LAPP.WebFront.HtmlHelpers;
@model IEnumerable<Infinite.LAPP.WebFront.Areas.Users.Models.DisplayUsersViewModel>


@{
    Layout = null;
}
<div class="row">
    <div class="col-md-8 mar-top-lg" data-remove-target="p:first">
        <div class="panel panel-success ">
            @*<div class="panel-heading">Roles List</div>*@
            <table class="table">
                <thead>
                    <tr class="table-header">
                        <th width="20%">Name</th>
                        <th width="40%">Email Address</th>
                        @*<th width="20%">Action</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>
                                @*@if (user.CanEditUser)
                                {
                                    @Html.ActionLink(user.FirstName + " " + @user.LastName, "Edit", "User", new { area = "Users", id = user.UserId }, null)
                                }
                                else
                                {*@
                                    @user.FirstName @user.LastName
                                @*}*@
                            </td>
                            <td>
                                @user.EmailAddress
                            </td>
                            @*<td>
                                @if (user.CanEditUser)
                                {
                                    <a href="/Users/User/Edit/@user.UserId" class="btn btn-primary">
                                        <i class="fa fa-pencil"></i> Edit
                                    </a>
                                }
                                else
                                {
                                    <a href="#" disable class="btn btn-primary">
                                        <i class=" fa fa-pencil ">
                                        </i> Edit
                                    </a>
                                }
                            </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
