﻿@using Infinite.LAPP.WebFront.HtmlHelpers;
@model Infinite.LAPP.WebFront.Areas.Users.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

@section HeaderSection {
    @Html.HeaderSectionHtml("Change Password")

}
<style type="text/css">

    .admin-label {
    width: 162px;
}
    .err-msg-pwd {
    width:236px;
}
    </style>
@section ActionNav {
    @*@Html.TaskLinkHtml("Edit Profile", Url.Action("EditProfile", "User"), "fa fa-user-o")*@
}



<script>
    $(document).ready(function () {
        $('.action-nav').remove();
    });
    function formsubmit() {
        if ($("#Form").valid()) {
            $("#Form").submit();
        }
        else {
            return false
        }
    }
</script>
@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { id = "Form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-md-5">
            <div class="admin-label">@Html.DisplayNameFor(model => model.OldPassword):</div>
            <div class="">
                @Html.PasswordFor(model => model.OldPassword, new { placeholder = Html.DisplayNameFor(model => model.OldPassword), @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger err-msg-pwd" })
        </div>
        <div class="col-md-5">
            <div class="admin-label">
                @Html.DisplayNameFor(model => model.NewPassword):
            </div>
            <div class="">
                @Html.PasswordFor(model => model.NewPassword, new { placeholder = Html.DisplayNameFor(model => model.NewPassword), @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger err-msg-pwd" })
        </div>
    </div>
    <div class="row">
       
                <div class="col-md-5 mar-top-lg">
                    <div class="admin-label">
                        @Html.DisplayNameFor(model => model.ConfirmPassword):
                    </div>
                    <div class="">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = Html.DisplayNameFor(model => model.ConfirmPassword), @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger err-msg-pwd" })
                </div>
    </div>


    <br />
  
    <div class="page_actions">
        <button id="confirmButton" class="btn btn-success" type="button" value="Save" onclick="formsubmit()">Save</button>
        @Html.CancelButtonHtml()
        @*@Html.SaveButtonHtml("Save", "edit", "")*@
    </div>
}

