﻿@using Infinite.LAPP.WebFront.HtmlHelpers;
@model Infinite.LAPP.WebFront.Areas.Users.Models.CreateUserViewModel

@{
    ViewBag.Title = "Add a New User";
}
@section HeaderSection {
    @Html.HeaderSectionHtml("Add a New User")
}

@section ActionNav {

    @Html.TaskLinkHtml("View All Roles", "/Users/RoleManager/Index", "fa fa-user ")

}



@using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)
    <h3>Basic Details</h3>
    <p class="sub header">How should the user be identified?</p>

    <div class="row">
        <div class="col-md-6 mar-top-md mar-bottom-md">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.FirstName)
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.FirstName, new { placeholder = Html.DisplayNameFor(model => model.FirstName) , @class="form-control"})
                </div>
                @Html.ValidationMessageFor(x => x.FirstName, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6  mar-top-md mar-bottom-md">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.LastName)
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.LastName, new { placeholder = Html.DisplayNameFor(model => model.LastName) , @class="form-control"})
                </div>
                @Html.ValidationMessageFor(x => x.LastName, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6  mar-top-md mar-bottom-md">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Role)
                </div>
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.RoleId, (SelectList)ViewBag.Roles, new{@class="form-control"})
                </div>
            </div>
        </div>
        <div class="col-md-6  mar-top-md mar-bottom-md">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.EmailAddress)
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.EmailAddress, new { placeholder = Html.DisplayNameFor(model => model.EmailAddress), @class="form-control" })
                </div>
                @Html.ValidationMessageFor(x => x.EmailAddress, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6  mar-top-md mar-bottom-md">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.ConfirmPassword)
                </div>
                <div class="col-md-3">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = Html.DisplayNameFor(model => model.ConfirmPassword), @class="form-control" })
                </div>
                @Html.ValidationMessageFor(x => x.ConfirmPassword, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6  mar-top-md mar-bottom-md">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Password)
                </div>
                <div class="col-md-3">
                    @Html.PasswordFor(model => model.Password, new { placeholder = Html.DisplayNameFor(model => model.Password), @class="form-control" })
                </div>
                @Html.ValidationMessageFor(x => x.Password, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6  mar-top-md mar-bottom-md">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.IsActive)
                </div>
                <div class="col-md-3">
                    @Html.CheckBoxFor(model => model.IsActive, new{ @width = "50px", @height = "50px"})
                </div>
            </div>
        </div>
    </div>

    @Html.CancelButtonHtml()
    @Html.SaveButtonHtml("Create", "create", "User")
    }


