﻿@using Infinite.LAPP.WebFront.HtmlHelpers;
@model Infinite.LAPP.WebFront.Areas.Users.Models.EditUserViewModel
@section HeaderSection {
    @Html.HeaderSectionHtml("Edit " + @Model.FirstName)
    <div class="action-nav">
        <div class="ui horizontal list">
         
            <a href="/Users/RoleManager/Index" class="ui button">
                <i class="pencil icon"></i> View all Roles
            </a>

        </div>
    </div> <!--action-nav-->
}

@section Scripts {
    <script type="text/javascript">

        //$(document).ready(function () {
        //    $('#PhoneNumber').keyup(function () {
        //        this.value = this.value.replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, '$1-$2-$3');
        //    });
        //});
    </script>
}
<div class="twelve wide column">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="ui form segment">
            <h3 class="ui header dividing">
                <i class="user grey icon"></i>
                <div class="content">
                    Basic Details
                    <p class="sub header">How should the user be identified?</p>
                </div>
            </h3>
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.IsActiveOriginal)
            <div class="fields">
                <div class="eight wide field">
                    <label>@Html.LabelFor(model => model.FirstName)</label>
                    <div class="ui corner labeled input">
                        @Html.EditorFor(model => model.FirstName, new { placeholder = Html.DisplayNameFor(model => model.FirstName) })
                        <div class="ui corner label">
                            <i class="asterisk red icon"></i>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(x => x.FirstName, null, new { @class = "field-error-message right" })
                </div>

                <div class="eight wide field">
                    <label>@Html.LabelFor(model => model.LastName)</label>

                    <div class="ui corner labeled input">
                        @Html.EditorFor(model => model.LastName, new { placeholder = Html.DisplayNameFor(model => model.LastName) })
                        <div class="ui corner label">
                            <i class="asterisk red icon"></i>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(x => x.LastName, null, new { @class = "field-error-message right" })
                </div>
            </div>

            <div class="fields">
                <div class="eight wide field">
                    <label>@Html.LabelFor(model => model.EmailAddress)</label>
                    <div class="ui corner labeled input">
                        @Html.TextBoxFor(model => model.EmailAddress, new { @readonly = "readonly" })
                    </div>
                </div>
                @*<div class="eight wide field">
                    <label>@Html.LabelFor(model => model.PhoneNumber)</label>
                    <div class="ui corner labeled input">
                        @Html.TextBoxFor(model => model.PhoneNumber, new { placeholder = "XXX-XXX-XXXX" })
                        <div class="ui corner label">
                            <i class="asterisk red icon"></i>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(x => x.PhoneNumber, null, new { @class = "field-error-message right" })
                </div>*@
            </div>

            <div class="fields">
                <div class="eight wide field">
                    <label>@Html.LabelFor(model => model.RoleId)</label>
                    <div class="ui corner labeled input">
                        @Html.DropDownListFor(model => model.RoleId, (SelectList)ViewBag.Roles)
                    </div>
                </div>

                <div class="eight wide field">
                    <label>@Html.LabelFor(model => model.IsActive)</label>
                    <div class="ui toggle checkbox">
                        @Html.CheckBoxFor(model => model.IsActive)
                        <label></label>
                    </div>
                </div>

            </div>
            <br />
        </div>

    <button type="reset" name="cancel" value="cancel" />
    <input type="submit" name="Submit" value="submit" />
        @*@Html.CancelButtonHtml()
        var redirectionLink = "/Users/User/Index";
        if (Model.CanViewRole)
        {
            redirectionLink = "/Users/RoleManager/Profile/" + Model.RoleId;
        }
        @Html.SaveButtonHtml("Save", "edit", "", "Continue to edit this record;Go back to the list:" + redirectionLink);*@
    }
</div>

