﻿@using Infinite.LAPP.WebFront.HtmlHelpers;
@model Infinite.LAPP.WebFront.Areas.Users.Models.EditUserProfileViewModel

@{
    ViewBag.Title = "Edit Profile";
}

@section HeaderSection {
    @Html.HeaderSectionHtml("Edit Profile")

}
@section ActionNav {

    @Html.TaskLinkHtml("Change Password", @Url.Action("ChangePassword", "User", new { area = "Users" }), "fa fa-pencil")
}

@using (Html.BeginForm("EditProfile", "User", new { area="Users"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h3> Personal Details</h3>
    <p class="sub-header">How should you be identified?</p>
    <div class="row">
        <div class="col-md-6 mar-top-md mar-bottom-md">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.FirstName)
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.FirstName, new { placeholder = Html.DisplayNameFor(model => model.FirstName), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(x => x.FirstName, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6  mar-top-md mar-bottom-md">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.LastName)
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.LastName, new { placeholder = Html.DisplayNameFor(model => model.LastName), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(x => x.LastName, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6  mar-top-md mar-bottom-md">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.EmailAddress)
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                </div>
            </div>
        </div>
    </div>
    <div class="page_actions">
        @Html.CancelButtonHtml()
        @Html.SaveButtonHtml("Save", "edit", "") @*, "Done:/Reports/DashBoard/Index", "", "Your Profile Updated Successfully.")*@
    </div>

}