﻿@using Infinite.LAPP.WebFront.HtmlHelpers;
@model IEnumerable<Infinite.LAPP.WebFront.Areas.Users.Models.DisplayUsersViewModel>

@{
    ViewBag.Title = "Index";
}
@section HeaderSection {
    @Html.HeaderSectionHtml("User Management")

    <div class="action-nav">
        <div class="ui horizontal list">
            @*@Html.TaskLinkHtml("Add User", "/Users/User/Create", "user add icon")*@
            <a href="@Url.Action("Create", "User", new { area = "Users" })">Add User</a>
        </div>
    </div> <!--action-nav-->
}

<div class="twelve wide column">
    <div class="role-list ui three cards relaxed">
        @foreach (var user in Model)
        {
            <div class="blue card">
                <div class="content">
                    <h3 class="ui header">
                        <i class="camera retro above grey icon"></i>
                        <div class="content">
                            @if (user.CanEditUser)
                            {
                                @*@Html.ActionLink(@user.FirstName + " " + @user.LastName, "Edit", new { id = @user.UserId })*@
                                  <a href="@Url.Action("Edit", "User", new { area = "Users", id = @user.UserId })">@user.FirstName @user.LastName</a>
                            }
                            else
                            {
                                @user.FirstName @user.LastName
                            }
                            <p class="sub header">
                                @user.Role Role
                            </p>
                        </div>
                    </h3>
                </div>
                <div class="ui one bottom attached buttons">
                    @if (user.CanEditUser)
                    {
                        <a href="/Users/User/Edit/@user.UserId" class="ui button">
                            <i class="pencil icon"></i> Edit User
                        </a>
                    }
                </div>
            </div>
        }
    </div>
</div>

