﻿@model Infinite.LAPP.WebFront.Areas.Leave.Models.ManageLeavesViewModel
<script>
    var count = @Model.DayList.Count;
    function deleteFunction(i)
    {
        count= count -1;
        var elem = $('#DayList_'+i+'__Status');
        elem.val(2);
        elem.parent().parent().hide();
    }
</script>

<div class="panel panel-success">
    <div class="panel-heading">Approve/ Reject Leave</div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Day</th>
                <th>Leave Duration</th>
                <th></th>
                @if(@Model.Status == 0)
                {
                <th class="text-center">Delete</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.DayList.Count; i++)
            {


                <tr id="leaveRow">
                    <td>
                        @Html.HiddenFor(moddelItem => Model.DayList[i].Id)
                    </td>
                    <td>
                        @Html.HiddenFor(moddelItem => Model.DayList[i].Date)
                        @Html.DisplayFor(moddelItem => Model.DayList[i].Date)
                    </td>
                    <td>
                        @Html.DisplayFor(moddelItem => Model.DayList[i].Date.DayOfWeek)
                    </td>
                    <td>
                        @Html.EnumDropDownListFor(moddelItem => Model.DayList[i].Duration, new { @class = "form-control" })
                        @Html.HiddenFor(moddelItem => Model.DayList[i].Duration)
                    </td>
                  
                    <td>
                        @Html.TextBoxFor(model => Model.DayList[i].Status, new { @style = "display:none;"})
                    </td>
                 @if(@Model.Status == 0)
                    {
                    <td align="center">
                        <a href="#" class="delete" onclick="deleteFunction(@i)">
                            <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                        </a>
                    </td>
                 }
                </tr>
            }

        </tbody>
    </table>
</div>
