﻿@model Infinite.LAPP.WebFront.Areas.Leave.Models.EditLeaveViewModel

<script>
    $('.action-nav').remove();
    var count = @Model.DayList.Count;
    function deleteFunction(i) {
        count= count -1;
        var elem = $('#DayList_' + i + '__IsDeleted');
        elem.val(true);
        elem.parent().parent().hide();

        if(count==0)
        {
            $('#main-parent').remove();
            document.getElementById("confirmButton").disabled = true;
            //$('#FromDate').val("");
            //$('#ToDate').val("");
        }
    }
</script>
<div class="panel panel-success" id="main-parent">
    <div class="panel-heading">Leave Details </div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Leave Duration</th>
                <th></th>
                <th class="text-center">Delete</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.DayList.Count > 0)
            {
                for (int i = 0; i < Model.DayList.Count; i++)
                {
                    if (Model.DayList[i].IsDeleted != true && Model.DayList[i].Status != 2)
                    {
                        <tr id="DatesRow">
                            <td>
                                @Html.HiddenFor(moddelItem => Model.DayList[i].Id)
                            </td>
                            <td>
                                @Html.HiddenFor(model => Model.DayList[i].Date)
                                @Html.DisplayFor(model => Model.DayList[i].Date)
                            </td>
                            <td>
                                @Html.EnumDropDownListFor(model => Model.DayList[i].Duration, new { @class = "form-control" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.DayList[i].IsDeleted, new { @style = "display:none;" })
                            </td>
                            <td align="center">
                                <a href="#" class="delete" onclick="deleteFunction(@i)">
                                    <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
            }
            else
            {
                <tr>
                    <td>Selected Day might be a holiday. Please select another day.</td>
                </tr>
            }
        </tbody>
    </table>
</div>



