﻿@model List<Infinite.LAPP.WebFront.Areas.Leave.Models.LeaveViewModel>

<div class="col-md-6 mar-top-lg" data-remove-target="p:first">
    <div class="panel panel-success">
        <div class="panel-heading">Leaves this month</div>
        <table class="table">
            @if (Model.Count > 0)
            {
                <thead>
                    <tr>
                        <th>Sr No.</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 1; i < Model.Count+1; i++)
                    {
                        var duration = @Model[i - 1].Duration == 1 ? "Half" : "Full";
                    <tr>
                        <td>@Html.DisplayFor(modelItem =>@i)</td>
                        <td>@Html.DisplayFor(modelItem => @Model[i - 1].Date) </td>
                        <td>@Html.DisplayFor(modelItem => @Model[i - 1].CategoryName)</td>
                        <td>@Html.DisplayFor(modelItem => @duration)</td>
                    </tr>
                    }

                </tbody>
            }
            else
            {
                <tr><td>No Leaves to display</td></tr>
            }
        </table>
    </div>
</div>
