﻿@model Infinite.LAPP.WebFront.Areas.Leave.Models.CreateLeaveRequestViewModel
@using Infinite.LAPP.WebFront.HtmlHelpers;
@{
    ViewBag.Title = "Apply Leave";
}
<style type="text/css">
.btn-success {
    width: 94px;
    margin: 0px 0px 0px 0px;
}
</style>

<script>
    $(document).ready(function () {
        $('.action-nav').remove();
        document.getElementById("confirmButton").disabled = true;
        $('#saveButton').off('click');
        var leaveCategoryTypeArray = {};
        $("#saveButton").on('click', function (e) {
            e.preventDefault();
            formsubmit();
        });

        $('#leaveTypes').on('change', function () {
                var type = $('#leaveTypes option:selected').val();
                GetCategoriesByType(type);
                DestroyDates();
                SetDatePicker(type);
        });
        $('#reloadPageButton').bind('click', function (e) {
            e.preventDefault();
            location.reload();
        });
        var type = $('#leaveTypes option:selected').val();
        GetCategoriesByType(type);
        SetDatePicker(type);
    });

    function DestroyDates() {

        $("#FromDate").val("");
        $("#ToDate").val("");
        $("#PartialView").empty();

    }

    function GetCategoriesByType(type) {
        if (type != "" && parseInt(type) > 0) {
            $.ajax({
                type: 'post',
                url: '/Leave/Leave/GetLeaveCategories',
                dataType: 'json',
                traditional: true,
                data: { leaveTypeId: type },
                success: function (data) {
                    console.log(data);
                    if (data && data.length > 0) {
                        leaveCategoryTypeArray = data;

                        $("#categoryTypes").empty();

                        $.each(data, function (i, element) {
                            $("#categoryTypes").append('<option value="' + element.Id + '">' + element.CategoryName + '</option>');
                        });

                    }
                    else {
                        $("#categoryTypes").empty();
                        $("#categoryTypes").append('<option value="">' + "--Select--" + '</option>');
                    }
                }
            });
        }
    }

    function SetDatePicker(type) {
        if (type == 1) {
            customDatetimePicker({ id: "FromDate",
                minDate: 0,
                value:"",
                onDateSelect: function () {

                    customDatetimePicker({
                        id: "ToDate",
                        minDate: new Date($("#FromDate").val()),
                        value: $("#FromDate").val()
                    });
                }
            });
        }
        else {
            customDatetimePicker({
                id: "FromDate",
                minDate : false,
                value: "",
                maxDate: 0,
                onDateSelect: function () {
                    customDatetimePicker({
                        id: "ToDate",
                        maxDate: 0,
                        minDate: new Date($("#FromDate").val()),
                        value: $("#FromDate").val()
                    });
                }
            });

        }
    }
    function SetToDate() {

    }
    function formsubmit() {
        //$('#done-error-message').remove();
        $("#Form").valid()
        if ($('#main-parent').length > 0) {
            if ($("#Form").valid())
                $("#Form").submit();
        }
        else
        {
            //if( $('#FromDate').val()!="" && $('#ToDate').val()!="")
            //{
            //    $("#done").parent().after("<div class='btn-done-error' id='done-error-message'>Please click here first.</div>");

            //}
        }
    }

    function cancel() {
            window.history.back();
    }


    function getview() {
        document.getElementById("confirmButton").disabled = false;
        //$('#done-error-message').remove();
        if ($("#Form").valid()) {
            $('.loader-wrap').show();
            var data = 'From=' + document.getElementById('FromDate').value + '&To=' + document.getElementById('ToDate').value;
            $.ajax({
                url: '/Leave/Leave/GetDates',
                dataType: 'html',
                data: data,
                success: function (result) {
                    $('#PartialView').html(result);
                    $('.loader-wrap').hide();
                    if (count == 0) {
                        $('#FromDate').val("");
                        $('#ToDate').val("");
                    }
                }
            });
        }
    };
</script>
@section HeaderSection {

    @Html.HeaderSectionHtml("Apply For Leave")
}
@using (@Html.BeginForm("Applyleave", "Leave", FormMethod.Post, new { id = "Form" }))
{
    @Html.HiddenFor(x => x.EmployeeId)
    @Html.HiddenFor(x => x.EmployeeCode)

    <h4>Hi <strong><i>@Model.EmployeeName</i></strong>, fill the form below to apply for leave.</h4>
    <br>
    <div class="row mar-top-lg">
        <div class="col-md-4">
            <div class="addemp">
                <div class="admin-label">
                    @Html.DisplayNameFor(model => model.LeaveType)
                </div>
                <div class="admin-control">
                    @Html.EnumDropDownListFor(model => model.LeaveType, new { @class = "form-control", @id ="leaveTypes" })
                </div>
                @Html.ValidationMessageFor(model => model.LeaveType, "", new { @class = "alert-danger" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="addemp">
                <div class="admin-label">
                    @Html.DisplayNameFor(model => model.Category)
                </div>
                <div class="admin-control">
                    @Html.DropDownListFor(model => model.Category, new List<SelectListItem>(), new { @class = "form-control", @id = "categoryTypes" })                 
               </div>
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row mar-top-lg">
        <div class="col-md-4">
            <div class="addemp">
                <div class="admin-label">
                    @Html.DisplayNameFor(model => model.FromDate)
                </div>
                <div class="admin-control">
                    @Html.EditorFor(model => Model.FromDate, new { htmlAttributes = new { @class = " form-control ", @readonly = "readonly", placeholder = "From Date" } })
                </div>
                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger err-msg-align" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="addemp">
                <div class="admin-label">
                    @Html.DisplayNameFor(model => model.ToDate)
                </div>
                <div class="admin-control">
                    @Html.EditorFor(model => Model.ToDate, new { htmlAttributes = new { @class = " form-control", @readonly = "readonly", placeholder = "To Date" } })
                </div>
                @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger err-msg-align" })
            </div>
        </div>
        <div class="col-md-4 shift-left">
            <p><input class="btn btn-primary" id="done" type="button" value="Done" onclick="getview()" /></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mar-top-lg" data-remove-target="p:first">
            <div id="PartialView">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label >@Html.DisplayNameFor(model => model.ApplierComment)</label>
            <div class="">
                @Html.TextAreaFor(model => model.ApplierComment, new { @class = "form-control marl0" })
            </div>
            @Html.ValidationMessageFor(model => model.ApplierComment, "", new { @class = "text-danger comment-err" })
        </div>
    </div>
    <div class="pull-left mar-top-lg">
        <button id="confirmButton" class="btn btn-success" type="button" value="Confirm" onclick="formsubmit()">Confirm</button>
        @*@Html.SaveButtonHtml("Confirm", "create", "Leave")*@
        <button id="reloadPageButton" class="btn btn-danger"  >Reset</button>
        @*<button class="btn btn-primary mar-left-lg" value="Cancel" onclick="cancel()">Cancel</button>*@
        @Html.CancelButtonHtml()
       
    </div>

}

