﻿@model Infinite.LAPP.WebFront.Areas.Leave.Models.EditLeaveViewModel
@using Infinite.LAPP.WebFront.HtmlHelpers;
@{
    ViewBag.Title = "Edit Leave";
}

<script>
    @*var fromDateOld = '@Model.FromDate.ToString("dd/MMM/yy")';
    var toDateOld = '@Model.ToDate.ToString("dd/MMM/yy")';*@
    $(document).ready(function () {
        var From= new Date(@Model.FromDate.Year,@Model.FromDate.Month-1,@Model.FromDate.Day);
        var To= new Date(@Model.ToDate.Year,@Model.ToDate.Month-1,@Model.ToDate.Day);
        customDatetimePicker({ id: "FromDate",minDate: 0,value:From});
        customDatetimePicker({ id: "ToDate",minDate: 0,value:To});




        var type = $('#leaveTypes option:selected').val();
        var category = @Html.Raw(Json.Encode(Model.Category));
        GetCategoriesByType(type, category);
        SetDatePicker(type);

        //$('.FromDate').datepicker( {
        //    onSelect: function(date) {
        //        debugger;
        //    },
        //customDatetimePicker({
        //    id: "FromDate",
        //    minDate: 0,
        //    value: "",
        //    onDateSelect: function () {
        //        debugger;


        //    }
        //});
    });


    function GetCategoriesByType(type, category) {
        if (type != "" && parseInt(type) > 0) {
            $.ajax({
                type: 'post',
                url: '/Leave/Leave/GetLeaveCategories',
                dataType: 'json',
                traditional: true,
                data: { leaveTypeId: type },
                success: function (data) {
                    console.log(data);
                    if (data && data.length > 0) {
                        leaveCategoryTypeArray = data;

                        $("#categoryTypes").empty();

                        $.each(data, function (i, element) {
                            if(element.Id == category)
                            {
                                $("#categoryTypes").append('<option selected value="' + element.Id + '">' + element.CategoryName + '</option>');
                            }
                            else
                            {
                                $("#categoryTypes").append('<option value="' + element.Id + '">' + element.CategoryName + '</option>');

                            }});

                    }
                    else {
                        $("#categoryTypes").empty();
                        $("#categoryTypes").append('<option value="">' + "--Select--" + '</option>');
                    }
                }
            });
        }
    }



    function SetDatePicker(type) {
        if (type == 1) {
            customDatetimePicker({
                id: "FromDate",
                minDate: 0,
                value: "",
                onDateSelect: function () {

                    customDatetimePicker({
                        id: "ToDate",
                        minDate: new Date($("#FromDate").val()),
                        value: $("#FromDate").val()
                    });
                }
            });
        }
        else {
            customDatetimePicker({
                id: "FromDate",
                minDate: false,
                value: "",
                maxDate: 0,
                onDateSelect: function () {
                    customDatetimePicker({
                        id: "ToDate",
                        maxDate: 0,
                        minDate: new Date($("#FromDate").val()),
                        value: $("#FromDate").val()
                    });
                }
            });

        }
    }


    function formsubmit() {
        $('#done-error-message').remove();
        $("#Form").valid()
        if ($('#DatesRow').length>0) {
            if ($("#Form").valid())
                $("#Form").submit();
        }
        else
        {
            //if( $('#FromDate').val()!="" && $('#ToDate').val()!="")
            //{
            //    $("#done").parent().after("<div class='btn-done-error' id='done-error-message'>Please click here first.</div>");

            //}
            //$('#FromDate').val("");
            //$('#ToDate').val("");
            //$("#Form").valid()
            //DatesError();
        }
    }


    function cancel() {
        window.history.back();
    }

    //function isDateValid  (fromDate, toDate){
    //    debugger;
    //    if(fromDate==fromDateOld && toDate == toDateOld){
    //        return false;
    //    }
    //    return true;
    //};

    function getview() {
        document.getElementById("confirmButton").disabled = false;
        $('#done-error-message').remove();
        if ($("#Form").valid() ){ //&& isDateValid($('#FromDate').val(),  $('#ToDate').val())) {
            $('.loader-wrap').show();
            var data = 'From=' + document.getElementById('FromDate').value + '&To=' + document.getElementById('ToDate').value+'&LeaveId='+@Model.Id;
            $.ajax({
                url: '/Leave/Leave/EditLeaveGetDates',
                dataType: 'html',
                data: data,
                success: function (result) {
                    $('#PartialView').html(result);
                    $('.loader-wrap').hide();

                    if (count == 0) {
                        $('#FromDate').val("");
                        $('#ToDate').val("");
                    }
                }
            });
        }
        //window.location.reload()
    };

</script>
@section HeaderSection {

    @Html.HeaderSectionHtml("Edit Leave")
}
@using (@Html.BeginForm("EditLeave", "Leave", FormMethod.Post, new { id = "Form" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.EmployeeId)
    @Html.HiddenFor(x => x.EmployeeCode)
    @Html.HiddenFor(x => x.ReportingManagerId)
    @Html.HiddenFor(x => x.Type)
    @Html.HiddenFor(x => x.Category)

    <h4>Hi <strong><i>@Model.EmployeeName</i></strong>, Edit your Leave here.</h4>
    <br>

    <div class="row mar-top-lg">
        <div class="col-md-4">
            <div class="addemp">
                <div class="admin-label">
                    @Html.DisplayNameFor(model => model.Type):
                </div>
                <div class="admin-control">
                    @Html.EnumDropDownListFor(model => model.Type, new { @class = "form-control", @id = "leaveTypes", @readonly = "readonly", @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="addemp">
                <div class="admin-label">
                    @Html.DisplayNameFor(model => model.Category):
                </div>
                <div class="admin-control">
                    @Html.DropDownListFor(model => model.Category, new List<SelectListItem>(), new { @class = "form-control", @id = "categoryTypes" })
                </div>
            </div>
        </div>
    </div>
    <div class="row mar-top-lg">
        <div class="col-md-4">
            <div class="addemp">
                <div class="admin-label">
                    @Html.DisplayNameFor(model => model.FromDate):
                </div>
                <div class="admin-control">
                    @Html.EditorFor(model => Model.FromDate, new { htmlAttributes = new { @class = " form-control ", placeholder = "From Date" } })
                </div>
                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger err-msg-align" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="addemp">
                <div class="admin-label">
                    @Html.DisplayNameFor(model => model.ToDate):
                </div>
                <div class="admin-control">
                    @Html.EditorFor(model => Model.ToDate, new { htmlAttributes = new { @class = " form-control", placeholder = "To Date" } })
                </div>
                @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger err-msg-align" })
            </div>
        </div>
        <div class="col-md-4 shift-left">
            <p><input class="btn btn-primary" id="done" type="button" value="Done" onclick="getview()" /></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mar-top-lg" data-remove-target="p:first" id="PartialView">
            @Html.Partial("_EditLeaveDetails", Model)
        </div>
    </div>
    @*<div class="row">
        <div class="col-md-10 mar-top-lg" data-remove-target="p:first">
            <div id="PartialView">
            </div>
        </div>
    </div>*@
    <div class="row">
        <div class="col-md-4">
            <label>@Html.DisplayNameFor(model => model.ApplierComment):</label>
            <div class="form-group">
                @Html.TextAreaFor(model => model.ApplierComment, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.ApplierComment, "", new { @class = "alert-danger" })
        </div>
    </div>
    <div id="DatesError" class="messagepop"></div>
    <div class="pull-left">
        <button id="confirmButton" class="btn btn-success" type="button" value="Confirm" onclick="formsubmit()">Confirm</button>
        <button class="btn btn-primary mar-left" value="Cancel" onclick="cancel()">Cancel</button>
    </div>

}

