﻿@model Infinite.LAPP.WebFront.Areas.Leave.Models.EditLeaveViewModel
@using Infinite.LAPP.WebFront.HtmlHelpers;
@{
    ViewBag.Title = "View Leave";
}


@section HeaderSection {

    @Html.HeaderSectionHtml("View Leave")
}

@section ActionNav {
    <button id="ViewLeaveList" onclick="goBack()" class="btn btn-primary mar-left-md ">View Leave List</button>
    @*@Html.TaskLinkHtml("View Leave List", @Url.Action("LeaveList", "Leave"), "")*@
}


<script>
    function goBack() {
        window.history.back();
    }
</script>
<h4><strong><i>@Model.EmployeeName</i>'s</strong> leave details.</h4>
<br>
<div class="row">
    <div class="col-md-3 mar-top-lg">
        <strong>@Html.DisplayNameFor(model => model.Type):</strong> <span class="pad-left-sm">@Html.DisplayFor(model => model.Type)</span>
    </div>
    <div class="col-md-3 mar-top-lg">
        <strong>@Html.DisplayNameFor(model => model.Category):</strong> <span class="pad-left-sm">@Html.DisplayFor(model => model.Category)</span>
    </div>
</div>
<div class="row">
    <div class="col-md-3 mar-top-lg">
        <strong>@Html.DisplayNameFor(model => model.FromDate):</strong> <span class="pad-left-sm">@Html.DisplayFor(model => model.FromDate)</span>
    </div>
    <div class="col-md-3 mar-top-lg">
        <strong>@Html.DisplayNameFor(model => model.ToDate):</strong> <span class="pad-left-sm">@Html.DisplayFor(model => model.ToDate)</span>
    </div>
</div>
<div class="row">
    <div class="col-md-10 mar-top-lg" data-remove-target="p:first">
        <div class="panel panel-success">
            <div class="panel-heading">Leave Details </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Leave Duration</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.DayList.Count > 0)
                    {
                        foreach (var item in Model.DayList)
                        {
                            //if (item.IsDeleted!=true && item.Status !=2)
                            //{
                            var Status = item.IsDeleted == true ? "Cancelled" : item.Status == 1 ? "Approved" : item.Status == 2 ? "Rejected" : "Pending";

                            <tr>
                                <td>
                                    @Html.DisplayFor(model => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Duration)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => Status)
                                </td>
                            </tr>

                            //}
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        @if (Model.ApplierComment != null)
        {
            <label>@Model.EmployeeName's Comment:</label>
            <div class="form-group">
                @Html.DisplayFor(model => model.ApplierComment)
            </div>
        }
    </div>
    <div class="col-md-4">
        @if (Model.ApproverComment != null)
        {
            <label>Approver's Comment:</label>
            <div class="form-group">
                @Html.DisplayFor(model => model.ApproverComment)
            </div>
        }
    </div>
</div>



