﻿@model Infinite.LAPP.WebFront.Areas.Leave.Models.CreateLeaveRequestViewModel

<script>
    var count = @Model.DayList.Count;
    function deleteFunction(i) {
        count= count -1;
        var elem = $('#DayList_' + i + '__Status');
        elem.val(2);
        elem.parent().parent().hide();
        debugger;
        if(count==0)
        {
            $('#main-parent').remove();
            document.getElementById("confirmButton").disabled = true;
            //$('#FromDate').val("");
            //$('#ToDate').val("");
        }
    }
</script>
<div class="panel panel-success" id="main-parent">
    <div class="panel-heading">Apply Leave </div>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Day</th>
                <th>Leave Duration</th>
                 <th class="text-center">Delete</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.DayList.Count > 0)
            {
                for (int i = 0; i < Model.DayList.Count; i++)
                {
                    <tr id="DatesRow">
                        <td>
                            @Html.HiddenFor(model => Model.DayList[i].Date)
                            @Html.DisplayFor(model => Model.DayList[i].Date)
                        </td>
                        <td>
                            @Html.DisplayFor(model => Model.DayList[i].Date.DayOfWeek)
                        </td>
                        <td>
                            @Html.EnumDropDownListFor(model => Model.DayList[i].Duration, new { @class = "form-control" })
                        </td>
                        <td align="center">
                            <a href="#" class="delete" onclick="deleteFunction(@i)">
                                <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td>
                            @Html.HiddenFor(model => Model.DayList[i].Status)
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>Selected Day might be a holiday. Please select another day.</td>
                </tr>
            }
        </tbody>
    </table>
</div>



