﻿@model List<Infinite.LAPP.WebFront.Areas.Leave.Models.DisplayLeaveRequestDetailsModel>
@using Infinite.LAPP.WebFront.HtmlHelpers
@{
    ViewBag.Title = "Your Leave list";
}
@section HeaderSection {

    @Html.HeaderSectionHtml("Your Leave list")
}
@section ActionNav {

    @Html.TaskLinkHtml(" Apply leave", Url.Action("Applyleave", "Leave"), "fa fa-level-down")
}

<script>
    $(document).ready(function () {
        $('#DataGrid').jqGrid('GridUnload');
        var result = $.parseJSON('@Html.Raw(Json.Encode(Model))');
        popdata(result);
    });

    function popdata(result) {
        $("#DataGrid").jqGrid({
            caption: 'Leave List',
            datatype: "local",
            data: result,
            rowNum: 10,
            gridview: true,
            hidegrid: false,
            pager: '#divPager',
            sortname: 'CreatedDate',
            sortorder: "desc",
            autowidth: true,
            autoencode: true,
            height: 'auto',
            shrinkToFit: false,
            forceFit: true,
            ignoreCase: true,
            sortable: false,
            rownumbers: true,
            colModel: [
                { label: 'Id', name: 'Id', hidden: true },
                    { label: 'Applied On', name: 'CreatedDate', align: "left", formatter: formatAppliedOn, formatoptions: { newformat: "d/m/Y" }, search: false, width: 105 },
                    { label: 'From Date', name: 'FromDate', align: "left", formatter: 'date', formatoptions: { newformat: "d/m/Y" }, search: false, width: 105 },
                    { label: 'To Date', name: 'ToDate', align: "left", formatter: 'date', formatoptions: { newformat: "d/m/Y" }, search: false, width: 105 },
                    { label: 'Leave Type', name: 'LeaveType', formatter: formatLeaveType, align: "left", search: true, width: 100 },
                    { label: 'Category', name: 'CategoryName', align: "left", search: true, width: 130 },
                    { label: 'Approver Name', name: 'ReportingManagerName', align: "left", search: true, width: 160 },
                    { label: 'Status', name: 'Status', formatter: formatStatus, align: "left", search: true, width: 92 },
                    { label: 'Edit', align: "center", formatter: editLinkFormatter, search: false, width: 100 },
                    { label: 'Delete', align: "center", formatter: deleteLinkFormatter, search: false, width: 100 },
            ],
            viewrecords: true, // show the current page, data range and total records on the toolbar
            emptyrecords: 'No records found'
        });
        //$('#DataGrid').jqGrid('filterToolbar', { defaultSearch: 'cn' }); // Set Searching
        $("#DataGrid").jqGrid("setLabel", "rn", "No");
    }


    formatAppliedOn = function (cellValue, options, rowObject) {
        
            var date = new Date(parseInt(cellValue.substr(6)));
            var d = date;
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();
                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;
                var finaldate= [day,month,year ].join('/');

                var ID = rowObject.Id;
            return '<a href="ViewLeaveDetails?LeaveRequestId=' + ID + '">' + finaldate + '</a>';
        
    }

    formatLeaveType = function (cellvalue, options, rowObject) {
        if (cellvalue == 1)
            return "Planned";
        return "Unplanned";
    }

    formatStatus = function (cellvalue, options, rowObject) {
        if (cellvalue == 1)
            return "Approved";
        else if (cellvalue == 2)
            return "Rejected";
        else
            return "Pending";
    }

    editLinkFormatter = function (cellValue, options, rowObject) {
        if (rowObject.Status==0)
        {
            var ID = rowObject.Id;
            return '<a href="EditLeave?Id=' + ID + '" class="fa fa-pencil fa-lg" ></a>';
        }
        return ""
    }

    deleteLinkFormatter = function (cellValue, options, rowObject) {
        if (rowObject.Status==0)
        {
        var ID = rowObject.Id;
        return '<a href="#" class="fa fa-times fa-lg" title="Cancel Leave" onclick="CancelLeavePopUp('+ID+')" ></a>';
        }
        return ""
    }




    function CancelLeavePopUp(LeaveId) {
        $("#ConfirmPopUp").dialog({
            autoOpen: true,
            resizable: false,
            title: 'Cancel Leave',
            modal: true,
            open: function () {
                $(this).text("Are you sure you want to cancel leave?");
            },
            buttons: {
                "Confirm": {
                    click: function () {
                        confirmCancelLeave(LeaveId);
                    },
                    class: "btn btn-success",
                    text: "Confirm"
                },
                Cancel: {
                    click: function () {
                        $(this).dialog("close");
                    },
                    class: "btn btn-danger",
                    text: "Cancel"
                }
            }
        });
        return false;
    }
    function confirmCancelLeave(LeaveId) {
        $.ajax({
            url: '@Url.Action("CancelLeave", "Leave")',
            type: 'POST',
            data:{ LeaveRequestId :LeaveId },
            success: function (data) {
                if (data) {
                    window.location.reload();
                }
            }
        });
    }
</script>
<form><div class="row">
    <div class="col-md-12 mar-top-lg" data-remove-target="p:first">
        <table id="DataGrid"></table>
        <div id="divPager" style="height: auto !important;"></div>
    </div>
</div>
<div id="ConfirmPopUp" class="messagepop"></div></form>

@*@Html.ActionLink("ManageLeaves", "Details", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")*@




