﻿@model Infinite.LAPP.WebFront.Areas.Employee.Models.EmployeeViewModel
@using Infinite.LAPP.WebFront.Common
@using Infinite.LAPP.WebFront.HtmlHelpers;

@{
    ViewBag.Title = "EditEmployee";
    Layout = "~/Views/Shared/_LayoutAfterAdminLogin.cshtml";
    var Roles = new SelectList(Model.Role, "RoleId", "RoleName");
    var manager = new SelectList(ViewBag.ReportingManager, "item1", "item2",Model.ReportingManagerId);
}

@section HeaderSection{
    @Html.HeaderSectionHtml("Edit Employee")
}
<style type="text/css">
    .admin-label {
        width:138px;
    }
    .btn-success {
    width: 94px;
    margin: 0px 0px 0px 0px;
    }
</style>
<script>
    var roleArray = @Html.Raw(Json.Encode(Model.Role));
    $(document).ready(function () {
        $('.action-nav').remove();
        customDatetimePicker({ id: "DateOfJoining", maxDate: 0 });

        var date= new Date(@Model.DateOfJoining.Year,@Model.DateOfJoining.Month-1,@Model.DateOfJoining.Day);
        customDatetimePicker({ id: "DateOfJoining",maxDate: 0,value:date });

        getRoles();
        SetRadioButton();

        $('#deactivateButton').click(function () {
            $("#ConfirmPopUp").dialog({
                autoOpen: true,
                resizable: false,
                title: 'Deactivate Employee',
                modal: true,
                open: function () {
                    $(this).text("Are you sure you want to Deactivate this Employee?");
                },
                buttons: {
                    "Confirm": {
                        click: function () {
                            var url = '@Html.Raw(Url.Action("DeactivateEmployee", new { isReportingManager = Model.IsReportingManager, empId = @Model.Id }))';
                            window.location.href = url;
                        },
                        class: "btn btn-success",
                        text: "Confirm"
                    },
                    Cancel: {
                        click: function () {
                            $(this).dialog("close");
                        },
                        class: "btn btn-danger",
                        text: "Cancel"
                    }
                }
            });

        });

        $('#roleDropDown').on('change', function () {
            SetRadioButton();
        });
       
        function getRoles() {
            if (roleArray && roleArray.length > 0) {
                $("#roleDropDown").empty();

                $.each(roleArray, function (i, element) {
                    $("#roleDropDown").append('<option data-manager = "' + element.IsReportingManager + '" data-trainee = "' + element.IsTrainee + '" value="' + element.RoleId + '">' + element.RoleName + '</option>');
                });

            }
            else {
                $("#roleDropDown").empty();
                $("#roleDropDown").append('<option value="">' + "--Select--" + '</option>');
            }
        }
    });

    function SetRadioButton() {
        var dataItem = $('#roleDropDown').find(":selected").data();
        var manager = $('#managerCheckBox');
        var trainee = $('#traineeCheckBox');
        if (dataItem.trainee) {
            trainee.prop("disabled", false);
            manager.prop("disabled", true);
            manager.prop("checked", false);

        }
        else if (dataItem.manager) {
            trainee.prop("checked", false);
            manager.prop("disabled", false);
            trainee.prop("disabled", true);

        }
        else {
            manager.prop("disabled", true);
            manager.prop("checked", false);
            trainee.prop("disabled", true);
            trainee.prop("checked", false);
        }
    }
</script>

@using (@Html.BeginForm("EditEmployee", "Employee", FormMethod.Post, new { id = "EditForm" }))
{
    <form>
        @Html.HiddenFor(model => Model.Id)
        @Html.HiddenFor(model => Model.CreatedBy)
        @Html.HiddenFor(model => Model.CreatedDate)
        @Html.HiddenFor(model => Model.EmployeeCode)
        <div class="row ">
            <div class="col-md-5">
                <div class="addemp">
                    <div class="admin-label">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </div>
                    <div class="admin-control">
                        @Html.TextBoxFor(model => model.FirstName, "", new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "alert-danger" })
                </div>
            </div>
            <div class="col-md-5">
                <div class="addemp">
                    <div class="admin-label">
                        @Html.DisplayNameFor(model => model.LastName)
                    </div>
                    <div class="admin-control">
                        @Html.TextBoxFor(model => model.LastName, "", new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "alert-danger" })
                </div>
            </div>
        </div>
        <div class="row mar-top-lg">
            <div class="col-md-5">
                <div class="addemp">
                    <div class="admin-label">
                        @Html.DisplayNameFor(model => model.EmailAddress)
                    </div>
                    <div class="admin-control">
                            @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", @readonly = "readonly"})
                    </div>
                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "alert-danger" })
                </div>
            </div>
            <div class="col-md-5">
                <div class="addemp">
                    <div class="admin-label">
                        @Html.DisplayNameFor(model => model.Role):
                    </div>
                    <div class="admin-control">
                        @Html.DropDownListFor(model => model.RoleId, new SelectList(new List<SelectListItem>()), new { @class = "form-control", @id = "roleDropDown" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row mar-top-lg">
            <div class="col-md-offset-5 col-md-5">
                <div class="addemp">
                    <label class="checkbox-inline  ">
                        @Html.CheckBoxFor(m => m.Trainee, new { @value = "true", @id = "traineeCheckBox" })
                        Trainee
                    </label>
                    <label class="checkbox-inline">
                        @Html.CheckBoxFor(m => m.IsReportingManager, new { @value = "true", @id = "managerCheckBox" })
                        Reporting Manager
                    </label>
                </div>
            </div>
        </div>
        <div class="row mar-top-lg">
            <div class="col-md-5">
                <div class="addemp">
                    <div class="admin-label">
                        @Html.DisplayNameFor(model => model.Department)
                    </div>
                    <div class="admin-control">
                        @Html.EnumDropDownListFor(model => model.Department, "Please Select", new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Department, "", new { @class = "alert-danger" })
                </div>
            </div>
            <div class="col-md-5">
                <div class="addemp">
                    <div class="admin-label">
                        @Html.DisplayNameFor(model => model.Designation)
                    </div>
                    <div class="admin-control">
                        @Html.TextBoxFor(model => model.Designation, "", new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "alert-danger" })
                </div>
            </div>
        </div>
        <div class="row mar-top-lg">
            <div class="col-md-5">
                <div class="addemp">
                    <div class="admin-label">
                        @Html.DisplayNameFor(model => model.Location)
                    </div>
                    <div class="admin-control">
                        @Html.EnumDropDownListFor(model => model.Location, "Please Select", new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "alert-danger" })
                </div>
            </div>
            <div class="col-md-5">
                <div class="addemp">
                    <div class="admin-label">
                        @Html.DisplayNameFor(model => model.EmployeeCode)
                    </div>
                    <div class="admin-control">
                        @Html.TextBoxFor(model => model.EmployeeCode, "", new { @class = "form-control", @disabled = "disabled" })
                    </div>
                    @Html.ValidationMessageFor(model => model.EmployeeCode, "", new { @class = "alert-danger" })
                </div>
            </div>
        </div>
        <div class="row mar-top-lg">
            <div class="col-md-5">
                <div class="addemp">
                    <div class="admin-label">
                        @Html.DisplayNameFor(model => model.DateOfJoining)
                    </div>
                    <div class="admin-control">
                            @Html.TextBoxFor(model => Model.DateOfJoining, DisplayFormatConstants.DateFormatString,new { @class = " form-control ", @readonly = "readonly", placeholder = "From Date" })
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="addemp">
                    <div class="admin-label">
                        Reporting Manager
                    </div>
                    <div class="admin-control">
                        @Html.DropDownListFor(model => model.ReportingManagerId, manager, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div id="ConfirmPopUp" class="messagepop"></div>
        <div class="pull-left mar-top-lg">
            <button class="btn btn-success" type="submit">Update</button>
            <button id="deactivateButton"class="btn btn-danger mar-left-lg" type="button">Deactivate</button>
            @Html.CancelButtonHtml()
            @*@Html.SaveButtonHtml("Update", "update", "Employee")*@
            @*<button id="cancelButton" class="btn btn-primary mar-left-lg" type="button">Cancel</button>*@
        </div>
    </form>

}
