﻿@model Infinite.LAPP.WebFront.Areas.Employee.Models.EmployeeViewModel
@using Infinite.LAPP.WebFront.HtmlHelpers;
@{
    ViewBag.Title = "Employee List";
    Layout = "~/Views/Shared/_LayoutAfterAdminLogin.cshtml";
}

@section HeaderSection {

    @Html.HeaderSectionHtml("Employees")
}
@section ActionNav {

    @*@Html.TaskLinkHtml("Add Employee", Url.Action("AddEmployee", "Employee"), "fa fa-user-o")*@
}


<form id="form">
<div class="row mar-top-lg">
    <div class="col-md-4">
        <div class="addemp">
            <div class="admin-label">
                @Html.DisplayNameFor(model => model.Location):
            </div>
            <div class="admin-control">
                @Html.EnumDropDownListFor(model => model.Location, "Please Select", new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger err-msg-align" })
        </div>
       
    </div>
    <div class="col-md-3 shift-left">
        <p><input class="btn btn-primary" type="button" value="Search" onclick="getview()" /></p>
    </div>
</div>
    <div class="row">
        <div class="col-md-12 mar-top-sm" data-remove-target="p:first">
            <label class="checkbox-inline  ">
                @Html.CheckBoxFor(model => model.IsDeactiavted, new { @value = "true", @id = "Deactiavted" })
                Deactivated Employees
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mar-top-lg" data-remove-target="p:first">
            <table id="DataGrid"></table>
            <div id="divPager" style="height: auto !important;"></div>
        </div>
    </div>
</form>

<script>
    $('#add').click(function () {
        window.location.href = 'AddEmployee';
        return false;
    });
    function getview() {
        if ($("#Location").valid()) {
            $('.loader-wrap').show();
            var data = 'locationId=' + document.getElementById('Location').value + '&Deactiavted=' + $("#Deactiavted").is(':checked');
            $.ajax({
                url: '/Employee/Employee/SearchEmployeeList',
                dataType: 'html',
                data: data,
                success: function (result) {
                    popdata(result);
                    $('.loader-wrap').hide();
                    $("#DataGrid").show();
                }
            });
        }
    };

    $("#Location").change(function () {
        $("#DataGrid").hide();
    });

    function popdata(result) {
        $('#DataGrid').jqGrid('GridUnload');
        var Data = $.parseJSON(result);

        $("#DataGrid").jqGrid({
            caption: 'Employee List',
            datatype: "local",
            data: Data,
            rowNum: 10,
            gridview: true,
            hidegrid: false,
            pager: '#divPager',
            sortname: 'CreatedDate',
            sortorder: "asc",
            autowidth: true,
            autoencode: true,
            height: 'auto',
            shrinkToFit: false,
            forceFit: true,
            ignoreCase: true,
            sortable: false,
            colModel: [
                { label: 'Employee Code', name: 'EmployeeCode', align: "left", sopt: ['cn'], search: true, width: 130 },
                  { label: 'First Name', name: 'FirstName', align: "left", search: true, width: 106},
                    { label: 'Last Name', name: 'LastName', align: "left", search: true, width: 106},
                    { label: 'Email Id', name: 'Email', align: "left", search: false },
                    { label: 'Designation', name: 'Designation', align: "left", search: true },
                    { label: 'Date Of Joining', name: 'DateOfJoining', align: "left", formatter: 'date', formatoptions: { newformat: "d/m/Y" }, search: false,width: 130 },
                    { label: 'Reporting Manager', name: 'ReportingManagerName', align: "left", search: true },
                    { label: 'Edit', align: "center", formatter: editLinkFormatter, search: false, width: 100 },
            ],
            viewrecords: true, // show the current page, data range and total records on the toolbar
            emptyrecords: 'No records found'
        });
        $('#DataGrid').jqGrid('filterToolbar', { defaultSearch: 'cn' }); // Set Searching
    }

    editLinkFormatter = function (cellValue, options, rowObject) {
        var ID = rowObject.Id;
        return '<a href="EditEmployee?Id=' + ID + '" class="fa fa-pencil fa-lg" ></a>';
    }


</script>
