﻿@model Infinite.LAPP.WebFront.Areas.Employee.Models.ReportingManagerModel
@using Infinite.LAPP.WebFront.HtmlHelpers;
@{
    ViewBag.Title = "Reselect Reporting Manager";
    Layout = "~/Views/Shared/_LayoutAfterAdminLogin.cshtml";
    var manager = new SelectList(ViewBag.ReportingManager, "item1", "item2", Model.Employee);
}

@section HeaderSection {

    @Html.HeaderSectionHtml("Reselect Reporting Manager")
}
@section ActionNav {
}
@using (@Html.BeginForm("ReselectReportingManager", "Employee", FormMethod.Post, new { id = "EditForm" }))
{
    @Html.HiddenFor(model => Model.Employee)
<div class="col-md-6 mar-top-lg" data-remove-target="p:first">
    <div class="panel panel-success">
        <div class="panel-heading">Reselect Reporting Manager</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Employee Code</th>
                    <th>Reporting Manager</th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.ListOfReportees.Count; i++)
                {
                    <tr>@Html.HiddenFor(model => Model.ListOfReportees[i].Id)
                        <td>@Html.DisplayFor(modelItem => Model.ListOfReportees[i].FirstName) </td>
                        <td>@Html.DisplayFor(modelItem => Model.ListOfReportees[i].LastName)</td>
                        <td>@Html.DisplayFor(modelItem => Model.ListOfReportees[i].EmployeeCode)</td>
                        <td>
                            @Html.DropDownListFor(modelItem => Model.ListOfReportees[i].ReportingManagerId, manager, new { @class = "form-control" })
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <button class="btn btn-primary" type="submit">Update</button>
</div>
}

<script>
</script>
