﻿@model List<Infinite.LAPP.WebFront.Areas.Employee.Models.DisplayEmployeeListViewModel>


<div class="panel panel-success">
    <div class="panel-heading">Employee List</div>
    <table class="table">
        <thead>
            <tr>
                <th class="align-left">Employee Code</th>
                <th class="align-left">Name</th>
                <th class="align-left">Email Id</th>
                <th class="align-left">Designation</th>
                <th class="align-left">Date Of Joining</th>
               <th class="align-left">Reporting Manager</th>
                <th class="text-left">Edit</th>

            </tr>
        </thead>
        <tbody>

            @if(@Model.Count > 0)
            {
            foreach (var item in @Model.OrderBy(x=>x.FirstName))
            {
                <tr>
                    <td class="align-left">
                        @Html.DisplayFor(model => item.EmployeeCode)
                    </td>
                    <td class="align-left">
                        @Html.DisplayFor(model => item.FirstName) @Html.DisplayFor(model => item.LastName)
                    </td>
                    <td class="align-left">
                        @Html.DisplayFor(model => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Designation)
                    </td>
                    <td class="align-left">
                        @Html.DisplayFor(model => item.DateOfJoining)
                    </td>
                    <td class="align-left">
                        @Html.DisplayFor(model => item.ReportingManagerName)
                    </td>
                    <td align="left">
                        <a href="~/Employee/Employee/EditEmployee?Id=@item.Id" class="">
                            <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            }
            }
            else
            {
            <tr>
                <td>Selected a Location.</td>
            </tr>
            }
            
        </tbody>
    </table>
</div>



