﻿@using Microsoft.AspNet.Identity
@using Infinite.LAPP.WebFront.Models
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="~/Content/jquery/jquery-ui.css" rel="stylesheet" />
    @*<link href="~/Content/jquery/jquery-ui.min.css" rel="stylesheet" />*@
    <link href="~/Content/jquery/jquery.datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/jquery/jquery.ui.datepicker.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/LAPPFunctions")
    @Scripts.Render("~/bundles/datetimepicker")
    @*@Styles.Render("~/Content/jquerycss")*@
    @Styles.Render("~/Content/csscl")
    @RenderSection("scripts", required: false)

    <script>
    $(document).ready(function () {
        $('li.listItem').on('click', function () {
            var element = $(this);
            window.location = element.find('a:first').attr('href');
        });
        //get current controller from url
            var currentController = '@ViewContext.RouteData.Values["controller"]';
            var action = '@ViewContext.RouteData.Values["action"]';



            //remove active class from all menus
            $("li.listItem").removeClass("active");

            if (currentController.toLowerCase().indexOf("manageleave") > -1) {
                $("#approve").addClass("active");
            }
            else if (currentController.toLowerCase().indexOf("user") > -1) {
                $("#changepassword").addClass("active");
            }
            else if (currentController.toLowerCase().indexOf("employee") > -1) {
                $("#employee").addClass("active");
            }
            else if (currentController.toLowerCase().indexOf("holiday") > -1) {
                $("#holiday").addClass("active");
            }
            else if (currentController.toLowerCase().indexOf("role") > -1) {
                $("#role").addClass("active");
            }
            else if (currentController.toLowerCase().indexOf("dashboard") > -1) {
                $("#dashboard").addClass("active");
            }
            else if (action.toLowerCase() == "leavelist" || action.toLowerCase()=="applyleave") {
                $("#leave").addClass("active");
            }
            else if (action.toLowerCase()== "allleavelist") {
                $("#allLeaves").addClass("active");
            }
            else if (action.toLowerCase() == "employeeleavedetails") {
                $("#allLeaves").addClass("active");
            }
            else if (action.toLowerCase() == "viewleavedetails") {
                $("#leave").addClass("active");
            }
        });
    </script>

</head>

<body>

    <div class="nav-side-menu">
        <div class="brand"><img src="/Content/Images/infinite-logo.png"></div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">
            <span class="username" id="profile">
                <i class="fa  fa-user-circle fa-lg"></i><b>Hi, @User.Identity.Name</b>
            </span>
            <ul id="menu-content" class="menu-content collapse out">
                
                <li class="listItem active" id="dashboard">
                    <a href="~/Users/DashBoard/Index" title="Dashboard">
                        <i class="fa fa-dashboard fa-lg"></i><b> Dashboard</b>
                    </a>
                </li>

                @Html.Partial("_SideMenuBar", new ClaimsModel())

                @*<li class="listItem" id ="changepassword">
                    <a href="~/Users/User/ChangePassword" title="Change Password">
                        <i class="fa fa-key fa-lg"></i><b>Change Password</b>
                    </a>
                </li>*@

                <li class="listItem">
                    <a href="~/Users/WebAccount/LogOff" title="Sign out">
                        <i class="fa fa-sign-out fa-lg"></i><b> Sign out</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="lapp-content-header">
            @RenderSection("HeaderSection", required: false)
            <div class="action-nav">
                <div class="row">
                    <div class="col-md-12">
                        @RenderSection("ActionNav", required: false)
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Here -->

        <div class="jumbotron">

            @RenderBody()
        </div>
    </div>
    <div class="loader-wrap" hidden>
        <div class="loader">
            <img src="~/Content/Images/loader.gif" alt="" width="128" height="128" border="0" />
        </div>
    </div>
</body>

</html>
