﻿@using Infinite.LAPP.WebFront.Models

@model ClaimsModel



@if (Model.CanViewRole)
{
    <li class="listItem" id ="role">
        <a href="~/Users/RoleManager/Index" title="Role Management">
            <i class="fa fa-address-book fa-lg"></i><b> Role Management</b>
        </a>
    </li>
}

<li class="listItem" id="leave">
    <a href="~/Leave/Leave/LeaveList" title="Leave Management">
        <i class="fa fa-calendar-plus-o fa-lg"></i><b> Leave</b>
    </a>
</li>
@if (Model.CanCreateUser)
{
    <li class="listItem" id="allLeaves">
        <a href="~/Leave/Leave/AllLeaveList" title="Leave Management">
            <i class="fa fa-calendar-o fa-lg"></i><b> Employee Leave</b>
        </a>
    </li>
}
@if (Model.CanApproveRejectLeave)
{
    <li class="listItem" id="approve">
        <a href="~/Leave/ManageLeaves/Index" title="Approve/Reject Leaves">
            <i class="fa fa-check fa-lg"></i><b> Approve/Reject Leaves</b>
        </a>
    </li>
}
@if (Model.CanViewHoliday)
{
    <li class="listItem" id="holiday">
        <a href="~/Settings/Holidays/HolidayList" title="Holidays Management">
            <i class="fa fa-calendar fa-lg"></i><b> Holidays</b>
        </a>
    </li>
}
@if (Model.CanCreateUser)
{
    <li class="listItem" id="employee">
        <a href="~/Employee/Employee/EmployeeList" title="Employee Management">
            <i class="fa fa-users fa-lg"></i><b> Employees</b>
        </a>
    </li>
}
