﻿@model List<Infinite.LAPP.WebFront.Areas.Leave.Models.ApproveLeaveRequestDetailsModel>
@using Infinite.LAPP.WebFront.HtmlHelpers
@{
    ViewBag.Title = "Approve/Reject Leave";
}
@section HeaderSection {

    @Html.HeaderSectionHtml("Approve / Reject Leaves")
}


<form>
    <div class="row">
        <div class="col-md-12 mar-top-lg" data-remove-target="p:first">
            <table id="DataGrid"></table>
            <div id="divPager" style="height: auto !important;"></div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('.action-nav').remove();
        $('#DataGrid').jqGrid('GridUnload');
        var result = $.parseJSON('@Html.Raw(Json.Encode(Model))');
        popdata(result);
    });

    function popdata(result) {
        $("#DataGrid").jqGrid({
            caption: 'Approve Reject List',
            datatype: "local",
            data: result,
            rowNum: 10,
            gridview: true,
            hidegrid: false,
            pager: '#divPager',
            sortname: 'CreatedDate',
            sortorder: "desc",
            autowidth: true,
            autoencode: true,
            height: 'auto',
            shrinkToFit: false,
            forceFit: true,
            ignoreCase: true,
            sortable: false,
            rownumbers: true,
            colModel: [
                { label: 'Id', name: 'Id', hidden: true },
                    { label: 'Applied By', name: 'EmployeeName', align: "left", search: true, width: 157 },
                    { label: 'Applied On', name: 'CreatedDate', align: "left", formatter: 'date', formatoptions: { newformat: "d/m/Y" }, search: false, width: 110 },
                    { label: 'From Date', name: 'FromDate', align: "left", formatter: 'date', formatoptions: { newformat: "d/m/Y" }, search: false, width: 110 },
                    { label: 'To Date', name: 'ToDate', align: "left", formatter: 'date', formatoptions: { newformat: "d/m/Y" }, search: false, width: 110 },
                    { label: 'Leave Type', name: 'LeaveType', formatter: formatLeaveType, align: "left", search: false, width: 110 },
                    { label: 'Category', name: 'CategoryName', align: "left", search: false, width: 130 },
                    { label: 'Status', name: 'Status', formatter: formatStatus, align: "left", search: false, width: 120 },
                    { label: 'Action', align: "center", formatter: editLinkFormatter, search: false },
            ],
            viewrecords: true, // show the current page, data range and total records on the toolbar
            emptyrecords: 'No records found'
        });
        $('#DataGrid').jqGrid('filterToolbar', { defaultSearch: 'cn' }); // Set Searching
        $("#DataGrid").jqGrid("setLabel", "rn", "No");
    }

    editLinkFormatter = function (cellValue, options, rowObject) {
        var ID = rowObject.Id;
        var url = '@Url.Action("LeaveDetails", "ManageLeaves", new { area = "Leave" })';
        return '<a href=' + url + '?leaveRequestId=' + ID + ' class="fa fa-pencil fa-lg" ></a>';
    }

    formatLeaveType = function (cellvalue, options, rowObject) {
        if (cellvalue == 1)
            return "Planned";
        return "Unplanned";
    }

    formatStatus = function (cellvalue, options, rowObject) {
        if (cellvalue == 1)
            return "Approved";
        else if (cellvalue == 2)
            return "Rejected";
        else
            return "Pending";
    }

</script>