﻿@model Infinite.LAPP.WebFront.Areas.Leave.Models.ManageLeavesViewModel

@using Infinite.LAPP.WebFront.HtmlHelpers;
@{
    ViewBag.Title = "Leave Details";
}
@section HeaderSection {

    @Html.HeaderSectionHtml("Approve / Reject Leaves")
}
<script>
    $(document).ready(function () {
        $('.action-nav').remove();
    });
    function RejectLeave() {
        var Id = $('#Id').val();
        $("form").valid()
        var ApproverCommentField = $('#ApproverComment');
        if (ApproverCommentField.val() == "") {
            $('#ApproverCommentError').text("Is Required");
            return false;
        }
        var url = '@Url.Action("RejectLeave", "ManageLeaves" , new{Id = "!", ApproverComment = "parameter"})';
        url = url.replace('!', Id).replace('parameter', ApproverCommentField.val());
        window.location.href = url;
    }

    function form_approve() {
        if (count > 0) {
            if ($("form").valid())
                $("form").submit();
        }
        else {

            DatesError();
        }
    }

    function DatesError() {
        $("#DatesError").dialog({
            autoOpen: true,
            position: { my: "center", at: "top+350", of: window },
            width: 1000,
            resizable: false,
            title: 'Error',
            modal: true,
            open: function () {
                $(this).text("No Dates selected. Form cannot be submitted. Click Ok to Reload page ");
            },
            buttons: {
                "Ok": function () {
                    window.location.reload();
                }
            }
        });
        return false;
    }


</script>

@using (Html.BeginForm("ApproveLeave", "ManageLeaves", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Status)
    <div class="row">
        <div class="col-md-3 mar-top-lg">
            @Html.HiddenFor(x => x.EmployeeName)
            <strong>Applied By:</strong> <span class="pad-left-sm">@Html.DisplayFor(x => x.EmployeeName)</span>
        </div>
        <div class="col-md-3 mar-top-lg">
            @Html.HiddenFor(x => x.Category)
            <strong>Category:</strong> <span class="pad-left-sm">@Html.DisplayFor(x => x.Category)</span>
        </div>
        <div class="col-md-3 mar-top-lg">
            @Html.HiddenFor(x => x.Type)
            <strong>Leave Type:</strong> <span class="pad-left-sm">@Html.DisplayFor(x => x.Type)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mar-top-lg">
            <strong>From Date:</strong>
            <span class="pad-left-sm">
                @Html.HiddenFor(x => x.FromDate)
                @Html.DisplayFor(x => x.FromDate)
            </span>
        </div>
        <div class="col-md-3 mar-top-lg">
            <strong>To Date:</strong>
            <span class="pad-left-sm">
                @Html.HiddenFor(x => x.ToDate)
                @Html.DisplayFor(x => x.ToDate)
            </span>
        </div>

    </div>

    <div class="row">
        <div class="col-md-10 mar-top-lg" data-remove-target="p:first">
            @Html.Partial("_ApproveLeaveDetails", Model)
        </div>
    </div>


    @Html.HiddenFor(x => x.Id)
    <div class="row">
        <div class="col-md-4">
            <label>Applier's Comments:</label>
            <div class="form-group">
                @Html.HiddenFor(x => x.ApplierComment)
                @Html.DisplayFor(x => x.ApplierComment)
            </div>
        </div>
        <div class="col-md-4">
            <label>  Comments (Mandatory):</label>
            @if (Model.Status == 0 || Model.Status == null)
            {
             <div class="">
                @Html.TextAreaFor(model => model.ApproverComment, new { @class = "form-control marl0" })
            </div>
            }
            @if (Model.ApproverComment != null)
             {
            <div class="form-group">
                @Html.DisplayFor(model => model.ApproverComment)
            </div>
            }
            @Html.ValidationMessageFor(model => model.ApproverComment, "", new { @class = "text-danger comment-err" })
        </div>
    </div>

    <div id="DatesError" class="messagepop"></div>
    if (Model.Status == 0 || Model.Status == null)
    {
        <div class="pull-left mar-top-lg">
            <button onclick="form_approve()" class="btn btn-primary" type="button">Approve</button>
            <a class="btn btn-primary mar-left-lg" onclick="RejectLeave()" href="#">Reject</a>
        </div>
    }
}

