﻿@using Infinite.LAPP.WebFront.HtmlHelpers;
@model Infinite.LAPP.WebFront.Areas.Users.Models.DashboardDetailViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAfterAdminLogin.cshtml";
}
@section HeaderSection {

@Html.HeaderSectionHtml("Leave Record")
}
@section ActionNav {

    @Html.TaskLinkHtml(" Apply leave", Url.Action("Applyleave", "Leave", new { Area = "Leave" }), "fa fa-level-down")
}
        <div class="row">
            <div class="col-md-6 mar-top-lg" data-remove-target="p:first">
                <!--<p><strong>.panel.panel-warning (with table)</strong></p>-->
                <div class="panel panel-success">
                   
                    <div class="panel-heading">Leave Record @Model.Date.ToString("MMMM yyy")</div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>Leaves balance as on 1st @Model.Date.AddMonths(-1).ToString("MMMM yyy")</strong></td>
                                <td>@Html.DisplayFor(model => model.LeavesBalanceLastMonth)</td>
                            </tr>
                            <tr>
                                <td><strong>Leaves earned during @Model.Date.AddMonths(-1).ToString("MMMM yyy") </strong></td>
                                <td>@Html.DisplayFor(model => model.LeavesEarned)</td>

                            </tr>
                            <tr>
                                <td><strong>Leaves taken during @Model.Date.AddMonths(-1).ToString("MMMM yyy")</strong></td>
                                <td>@Html.DisplayFor(model => model.LeavesTaken)</td>

                            </tr>
                            <tr>
                                <td><strong>Shortfall of hours during @Model.Date.AddMonths(-1).ToString("MMMM yyy")</strong></td>
                                <td>@Html.DisplayFor(model => model.Shortfall)</td>

                            </tr>
                            <tr>
                                <td><strong>Accrued leave earned during probation</strong></td>
                                <td>@Html.DisplayFor(model => model.AccuredLeaves)</td>

                            </tr>
                            <tr>
                                <td><strong>Total LWP during @Model.Date.AddMonths(-1).ToString("MMMM yyy")</strong></td>
                                <td>@Html.DisplayFor(model => model.LWP)</td>

                            </tr>
                            <tr>
                                <td><strong>Leave balance as on 1st @Model.Date.ToString("MMMM yyy")</strong></td>
                                <td>@Html.DisplayFor(model => model.LeavesBalanceThisMonth)</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

           @Html.Action("GetLeaveListThisMonth", "Leave", new { area = "Leave" })
        </div>


